*, *:before, *:after {
  box-sizing: border-box;
  align-items: auto;
}

/* font stuff */
html {
  font-size: 10px;
  font-family: "Lato", serif;
}

/* home page font color */
html.home {
  color: #FFFEEC;
}

html.project {
  color: #303030;
}

.am {
  color: #303030;
}

/* text sizes */
h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.4rem;
}

p {
  font-size: 2.5rem;
}

/* header qualities */
header {
  align-items: center;
  background-color: #303030;
  display: flex;
  padding: 2rem 2rem;
}

.name {
  color: #FFFEEC;
  padding: 2rem;
  flex: 1;
}

a {
  color: #FFFEEC;
  font-size: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* body qualities */
body {
  background-color: #FFFEEC;
}

body.huddleproject {
  background-color: #FFFFFF;
}

/* intro section */
.intro {
  background-color: #6CDCA0;
  padding: 5rem 8rem;
  text-align: center;
}

/* huddle intro */
.intro2 {
  background-image: url("/images/projectsblack.png");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  padding: 6.5rem;
  font-weight: bold;
}

 .quote {
  align-content: center;
  color: #4A4A4A;
  font-style: italic;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

/*ABOUT ME*/
.pictura {
  background-image: url("/images/samparkpic.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 70rem;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 1rem;
}

.abc {
  padding-left: 5rem;
  padding-bottom: 5rem;
}

.boutme {
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-bottom: 10rem;
}

.factsb {
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-bottom: 15rem;
}

/* project banner */
.projects {
  background-image: url("/images/projects.png");
  background-repeat: no-repeat;
  background-size: 105%;
  font-weight: bolder;
  margin-bottom: .2rem;
  padding: 10rem;
  text-align: center;
}

/* huddle project */
.huddle {
  background-image: url("/images/huddlelogo.png");
  background-repeat: no-repeat;
  background-size: 100.5%;
  margin-bottom: .2rem;
  padding-top: 17rem;
  padding-bottom: 5rem;
  text-align: center;
}

/* Huddle Case Study Overview*/
.problem {
  background-color: #F1F1F1;
  text-align: center;
  padding: 5rem 10rem;
}

.solution {
  background-color: #727272;
  color: #FFFFFF;
  padding: 5rem 10rem;
  text-align: center;
}

.description {
  background-color: white;
  padding: 5rem 10rem;
  text-align: center;
}

/* Huddle User Research */
.container {
  background-color: #727272;
  color: #FFFFFF;
  padding: 10rem;
  text-align: center;
  text-decoration: underline;
}

.Comp {
  background-color: #303030;
  color: #FFFFFF;
  padding: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;
}

.Survey {
  background-color: #727272;
  color: #FFFFFF;
  font-size: 4em;
  padding-bottom: 5rem;
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;
}

.Storyflow {
  background-color: #303030;
  color: #FFFFFF;
  font-size: 4em;
  padding-bottom: 5rem;
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;
}

button {
  color: white;
}

/* Wireframe stuff */
.contain {
  background-color: #F1F1F1;
  color: #303030;
  padding: 10rem;
  text-align: center;
  text-decoration: underline;
}

.wireframes {
  font-size: 5em;
  padding-bottom: 8rem;
  padding-top: 8rem;
  text-align: center;
}

.branding {
  background-color: #F1F1F1;
  font-size: 4em;
  padding-bottom: 5rem;
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;
}

.button1 {
  color: #303030;
  font-size: 5em;
}

.Preference {
  padding-bottom: 5rem;
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;
}

.Hifi {
  background-color: #F1F1F1;
  padding-bottom: 5rem;
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;
}

/* Conclusion */
.conclusion {
  background-color: #303030;
  color: #FFFFFF;
  padding-bottom: 5rem;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
}
/* coming soon */
.soon {
  background-image: url("/images/comingsoon.png");
  background-repeat: no-repeat;
  background-size: 105%;
  font-weight: bolder;
  padding: 10rem;
  text-align: center;
}

/* connect with me */
.connect {
  background-color: #D1DB5F;
  padding: 2.5rem 0rem;
  text-align: center;
}

/* made by */
.made {
  background-color: #303030;
  font-size: 1.1em;
  color: #FFFEEC;
  text-align: center;
  padding: 1rem 0rem;
}

@media all and (max-width: 959px) and (min-width: 768px) {
    html{
        font-size: 16px;
      }
}

@media all and (max-width: 1440px) and (min-width: 1025px) {
    html{
        font-size: 18px;
      }
}
