*, *:before, *:after {
  box-sizing: border-box;
  align-items: auto;
}

html.home {
  font-size: 10px;
  font-family: "Lato", serif;
  color: #FFFEEC;
}

html.project {
  font-size: 10px;
  font-family: "Lato", serif;
  color: #303030;
}

header {
  background-color: #303030;
  padding-top: 20px;
  padding-left: 20px;
}

h2 {
  font-size: 4em;
}

h5 {
  font-size: 3em;
  margin
}

h6 {
  font-size: 0.8em;
}

h2.name {
  display: inline-block;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 15px;
  color: #FFFEEC;
}

nav {
  color: #FFFEEC;
  display: inline;
  font-size: .5em;
  padding-top: 20px;
  padding-bottom: 12px;
  padding-left: 75px;
}

body {
  background-color: white;
  font-size: 1.8rem;
}

section.intro {
  background-color: #6CDCA0;
  font-size: 1.5em;
  display: inline-block;
  text-align: center;
}

article.projects {
  background-image: url("/images/projects.png");
  background-repeat: no-repeat;
  background-size: 100%;
  font-style: bold;
  font-size: 3em;
  padding: 80px;
  text-align: center;
  width: 100%;
}

article.huddle {
  background-image: url("/images/huddlelogo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  padding-top: 150px;
  width: 100%
}

article.soon {
  background-image: url("/images/comingsoon.png");
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 3em;
  font-style: bold;
  padding: 80px;
  text-align: center;
  width: 100%
}

section.Connect {
  background-color: #D1DB5F;
  font-size: 1.6em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  }

section.made {
  font-size: 0.8em;
  text-align: center;
  display: block;
  background-color: #303030;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
