*, *:before, *:after {
  box-sizing: border-box;
  align-items: auto;
}

/* font stuff */
html {
  font-size: 10px;
  font-family: "Lato", serif;
}

/* home page font color */
html.home {
  color: #FFFEEC;
}

/* text sizes */
h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2.2rem;
}

p {
  font-size: 3.5rem;
}

/* header qualities */
header {
  align-items: center;
  background-color: #303030;
  display: flex;
  padding: 2rem 2rem;
}

.name {
  color: #FFFEEC;
}

.name {
  padding: 2rem;
  flex: 1;
}

a {
  color: #FFFEEC;
  font-size: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

a.gotohuddle {
  color: #303030;
}

/* body qualities */
body {
  background-color: #FFFEEC;
}

body.huddleproject {
  background-color: #FFFFFF;
}

/* intro section */
.intro {
  background-color: #6CDCA0;
  padding: 5rem 8rem;
  text-align: center;
}

/* project banner */
.projects {
  background-image: url("/images/projects.png");
  background-repeat: no-repeat;
  background-size: 105%;
  margin-bottom: .2rem;
  padding: 10rem;
  text-align: center;
}

/* huddle project */
.huddle {
  background-image: url("/images/huddlelogo.png");
  background-repeat: no-repeat;
  background-size: 100.5%;
  margin-bottom: .2rem;
  padding-top: 17rem;
  padding-bottom: 5rem;
  text-align: center;
}

/* coming soon */
.soon {
  background-image: url("/images/comingsoon.png");
  background-repeat: no-repeat;
  background-size: 105%;
  padding: 10rem;
  text-align: center;
}

/* connect with me */
.connect {
  background-color: #D1DB5F;
  padding: 2.5rem 0rem;
  text-align: center;
}

/* made by */
.made {
  background-color: #303030;
  text-align: center;
  padding: 1rem 0rem;
}
