* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Lato", serif;
  color: #FFFEEC;
}

header {
  background-color: #303030;
  padding-top: 20px;
  padding-left: 20px;
}

h2 {
  font-size: 4em;
}

h2.name {
  display: inline-block;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 15px;
}

nav {
  display: inline-block;
  font-size: 1.4em;
  color: #FFFEEC;
  padding-top: 20px;
  padding-bottom: 12px;
}

body {
  background-color: white;
  font-size: 1.8rem;
}

.intro {
  background-color: #6CDCA0;
  font-size: 1.8em;
  display: block;
  text-align: center;
}

.projects {
  background-image: url("/images/projects.png");
  padding: 80px;
  text-align: center;
}

.huddle {
  background-image: url("/images/huddlelogo.png");
  text-align: center;
  padding-top: 150px;
}

.Connect {
  background-color: #D1DB5F;
}

button {
  font-size: 1.8em;
}

.made {
  font-size: 2em;
  display: inline-block;
  background-color: #303030;
}
