* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Lato", serif;
  color: #FFFEEC;
}

header {
  background-color: #303030;
  padding-top: 20px;
  padding-left: 20px;
}

h2 {
  font-size: 4em;
}

h5 {
  font-size: 3em;
}

h6 {
  font-size: 0.8em;
}

h2.name {
  display: inline-block;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 15px;
}

nav {
  display: inline-block;
  font-size: 1.4em;
  color: #FFFEEC;
  padding-top: 20px;
  padding-bottom: 12px;
}

body {
  background-color: white;
  font-size: 1.8rem;
}

section.intro {
  background-color: #6CDCA0;
  font-size: 1.5em;
  display: inline-block;
  text-align: center;
}

article.projects {
  background-image: url("/images/projects.png");
  font-size: 3em;
  padding: 80px;
  text-align: center;
}

article.huddle {
  background-image: url("/images/huddlelogo.png");
  text-align: center;
  padding-top: 150px;
}

article.soon {
  background-image: url("/images/comingsoon.png");
  font-size: 3em;
  padding: 80px;
  text-align: center;
}

section.Connect {
  background-color: #D1DB5F;
  font-size: 1.6em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  }

.made {
  font-size: 0.8em;
  text-align: center;
  display: block;
  background-color: #303030;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
